/* Keep consistent look with dashboard cards */

.truncate {
  max-width: 380px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

@media (max-width: 1200px) {
  .truncate { max-width: 260px; }
}
@media (max-width: 992px) {
  .truncate { max-width: 200px; }
}

